In [2]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [3]:
data_0 = pd.read_csv("https://practicum-content.s3.us-west-1.amazonaws.com/datasets/geo_data_0.csv")
data_1 = pd.read_csv("https://practicum-content.s3.us-west-1.amazonaws.com/datasets/geo_data_1.csv")
data_2 = pd.read_csv("https://practicum-content.s3.us-west-1.amazonaws.com/datasets/geo_data_2.csv")

In [4]:
print(data_0.info())
display(data_0.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

          id        f0        f1        f2    product
4963   bJLz7 -0.008149  0.204600  3.294802  87.342125
55599  awEDG  1.858594  0.065189  2.728393  93.823854
14444  gsDWb -0.693786  0.926918  1.610155  48.087308
11020  99C6F  1.319880 -0.373542  5.468374  96.126576
59811  U9vya -0.511109  0.857505  4.366849  96.168588

In [5]:
print(data_1.info())
display(data_1.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

          id         f0         f1        f2     product
16424  CS8Gt  11.453652  -3.081310  1.002566   26.953261
14170  PsyJs  -2.819148   0.788740  4.997136  137.945408
57044  QkMop   1.326058  -8.253106 -0.000712    0.000000
97423  zUddR   8.004345 -16.937060  1.998617   53.906522
4925   cSy9A  13.152250   3.765460  0.996544   26.953261

In [6]:
print(data_2.info())
display(data_2.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB
None

          id        f0        f1        f2     product
46102  yjxbb -0.607988  0.056046  4.318267   24.037797
42521  o85V0  0.550755  0.773363  2.509616   49.085120
7375   e18sZ -4.372868  0.987214  6.740319  178.853532
89439  TqsRy  0.153961 -0.469900  7.993850  110.556507
30455  u3Gba -0.300288 -0.073267  4.976612  124.583327

In [7]:
### 2.1

features = data_0.drop(["product","id"],axis=1)
target = data_0["product"]
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25)

In [8]:
### 2.2

scaler = StandardScaler()
features_train = pd.DataFrame(scaler.fit_transform(features_train))
features_valid = pd.DataFrame(scaler.transform(features_valid))
display(features_train)

              0         1         2
0     -1.522491  0.587729  1.522011
1      1.287941 -1.097449 -0.113753
2      1.293125 -1.078804  1.271622
3     -1.410952  1.111974 -0.346946
4     -0.321783 -0.841288  0.994576
...         ...       ...       ...
74995 -1.217113  1.106349 -0.178117
74996 -1.334096  0.854642  0.621128
74997 -0.259700 -0.643473  0.063970
74998 -1.669845  0.435685  0.534474
74999  0.315540  0.016676  1.434524

[75000 rows x 3 columns]

In [9]:
target_train.describe()

count    75000.000000
mean        92.532879
std         44.332314
min          0.004022
25%         56.414610
50%         91.936986
75%        128.762058
max        185.364347
Name: product, dtype: float64

In [15]:
## 2.2

LinReg = LinearRegression()
LinReg.fit(features_train, target_train)
predictions = LinReg.predict(features_valid)

mse = mean_squared_error(target_valid, predictions)
mae = mean_absolute_error(target_valid, predictions)

print(f"Raínz del Error Cuadrático Medio: {mse**(1/2)}")
print("R2:", r2_score(target_valid, predictions))
print(f"Error Absoluto Medio: {mae}")
predicted_valid = pd.Series(target_train.median(), index=target_valid.index) 
print('Mediana')
print(mean_absolute_error(target_valid, predicted_valid))
print("Promedio:", predictions.mean())

Raínz del Error Cuadrático Medio: 37.746255741759825
R2: 0.26929787510877057
Error Absoluto Medio: 31.021632603083262
Mediana
37.50867488879657
Promedio: 92.46783749404557